html{
	height: 1920px;
	width:1080px;

	body{
		background: url("../images/fundo.jpg") no-repeat;
		background-size: 100%;
		height: 100%;
		position: relative;

		.menu{
			position: absolute;
			width: 940px;
			height: 787px;
		    top: 332px;
		    left: 70px;
			svg{
				#logifarma, #ferrazlynce_1_, #iberfare, #grupoiberfare{
					path{
						&:hover{
							fill: #ececec;
						}
					}
				}
			}
		}

		.barra-navegacao{
			display: none;
			position: absolute;
			bottom: 450px;
			margin: 0 70px;
			img{
				width: 100%;
			}
			svg{
				position: relative;
				bottom: 51px;
				left: 70px;
				width: 70px;
				height: 70px;

				&:hover{

					g{
						path{
							
							fill: #eaeaea;
							
							&.st6{
								fill: #ffffff;							
							}
						}
					}

				}
				
			}
		}

		.ferrazlynce{
			.logo{
				width: 100%;
				align: center;
				margin-top: 70px;
				margin-bottom: 120px;
				margin-left: 230px;
			}

			embed{
				margin-left: 70px;
			}

			.frase{
				text-align: center;
				margin-top: 60px;
			}

			.barra-navegacao{
				display: block;
			    bottom: 525px;

			}
		}	

		.logifarma{
			.telemarketing-vantagens{
				display: none;
			}

			.contain{
				img{
					margin: 70px;
				}

			}
			.seta-dir{
				// display: none;
				position: relative;
			    top: 0px;
    			left: 870px;
				width: 70px;
				height: 70px;
				cursor: pointer;
				&:hover{
					path{
						&.st1{
							fill: #ececec;
						}
					}
				}
			}
			.seta-esq{
				display: none;
				position: relative;
			    top: 0px;
    			left: 870px;
				width: 70px;
				height: 70px;
				cursor: pointer;
				&:hover{
					path{
						&.st1{
							fill: #ececec;
						}
					}
				}
			}

			.barra-navegacao{
				display: block;
			}

		}
	}

}